/* Variables */
:root {
    --color-White: hsl(0, 0%, 100%);
    --color-light-pink: hsl(275, 100%, 97%);
    --color-grayish-purple: hsl(292, 16%, 49%);
    --color-dark-purple: hsl(292, 42%, 14%);
}

/* General Styles */
html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font-family: WorkSans, Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
    margin: 0;
    background: var(--color-light-pink);
    color: var(--color-dark-purple);
}

img {
    width: 100%;
}

/* Typography */
h1 {

}

h2 {
    font-size: 2.3rem;
}

/* Card */
.card {
    background: var(--color-White);
    width: 90vw;
    padding: 2rem;
    border-radius: 10px;
    margin: 0 auto;
}

.card__header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.card__icon {
    width: 36px;
}

/* Collapsible Section */
.collapsible {
    margin-bottom: 3rem;
}
.collapsible__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.collapsible__chevron {
    width: 36px;
    margin-left: 4rem;
}

.collapsible__content {
    color: var(--color-light-pink);
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: opacity .3s, transform .3s;
}

.collapsible--expanded .collapsible__content {
    max-height: 100vh;
    opacity: 1;
}

.collapsible--expanded .collapsible__plus,
.collapsible__minus {
    display: none;
}

.collapsible--expanded .collapsible__minus,
.collapsible__plus {
    display: block;
}