/* Variables */
:root {
    --color-purple: hsl(281deg 83% 54%);
    --color-White: hsl(0, 0%, 100%);
    --color-light-pink: hsl(275, 100%, 97%);
    --color-grayish-purple: hsl(292, 16%, 49%);
    --color-dark-purple: hsl(292, 42%, 14%);
}

/* General Styles */
html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font-family: WorkSans, Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
    margin: 0;
    background: var(--color-light-pink);
    color: var(--color-dark-purple);
    line-height: 1.5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}

img {
    width: 100%;
}

/* Typography */
h1 {
    font-size: 4rem;
}

h2 {
    font-size: 1.8rem;
}

/* Background */
.faq-bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

/* Card */
.card {
    background: var(--color-White);
    width: 90vw;
    padding: 2rem;
    border-radius: 10px;
}

.card__header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.card__heading {
    margin: 0.5rem 0;
}

.card__icon {
    width: 36px;
    margin-right: 2rem;
}

/* Collapsible Section */
.collapsible {
    margin-bottom: 1.5rem;
}

.collapsible:last-child {
    margin: 0;
}

.collapsible__header {
    display: grid;
    grid-template-columns: 4fr 1fr;
    justify-items: center;
    align-items: center;
}

.collapsible__heading {
    justify-self: left;
}

.collapsible__chevron {
    max-width: 36px;
    justify-self: right;
}

.collapsible__content {
    color: var(--color-grayish-purple);
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: opacity .3s, transform .3s;
}

.collapsible--expanded .collapsible__content {
    max-height: 100vh;
    opacity: .8;
    margin-bottom: 3rem;
}

.collapsible--expanded .collapsible__plus,
.collapsible__minus {
    display: none;
}

.collapsible--expanded .collapsible__minus,
.collapsible__plus {
    display: block;
}

@media screen and (min-width: 768px) {
    h1 {
        font-size: 5rem;
    }

    .card {
        max-width: 650px;
        padding: 4rem;
    }

    .card__icon {
        width: 42px;
        transition: transform .3s ease;
    }

    .collapsible__heading:hover {
        color: var(--color-purple);
        cursor: pointer;
    }
}