<div class="wrapper">
  <div class="nutrition__aspect">
    <p class="nutrition__calories">Calories</p>
    <p class="nutrition__qty">277kcal</p>
  </div>
  <div class="wrapper">
    <div class="nutrition__aspect">
      <p class="nutrition__calories">Calories</p>
      <p class="nutrition__qty">277kcal</p>
    </div>
    <div class="wrapper">
      <div class="nutrition__aspect">
        <p class="nutrition__calories">Calories</p>
        <p class="nutrition__qty">277kcal</p>
      </div>
      <div class="wrapper">
        <div class="nutrition__aspect">
          <p class="nutrition__calories">Calories</p>
          <p class="nutrition__qty">277kcal</p>
        </div>
      </div>
    </div>
  </div>
</div>
