html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    background-color: #efefef;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.8rem;
}

/* Navigation bar */
.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #43281c;
    color: #fbf2c0;
}

.hero__brand {
    width: 30px;
    margin-right: 0.5rem;
}

/* Box */
.box {
    background: #eee1d5;
    padding: 0 20px 10px;
    border-radius: 5px;
    margin-bottom: 2rem;
    box-shadow: 0 1px 3px rgb(0 0 0 / 0.2);
}

.box__heading {
    color: #885a2d;
    font-size: 2rem;
    font-weight: 500;
    margin: 0 0 3rem;
    padding-top: 0.5rem;
}

.input-group {
    position: relative;
    margin-bottom: 2rem;
}

.input-group--small {
    width: 50%;
}

.input {
    border: 2px solid #885a2d;
    background: rgba(0,0,0,0);
    padding: 1rem;
    text-indent: 20px;
    border-radius: 20px;
    width: 100%;
}

.input-group__label {
    position: absolute;
    background: #eee1d5;
    color: #885a2d;
    text-transform: uppercase;
    font-size: 1.1rem;
    top: -7px;
    left: 25px;
}

/* Item */
.item {
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-areas:
    "qty title price"
    ". option .";
    justify-items: center;
    border-bottom: 1px solid #885a2d;
}

.item__qty {
    grid-area: qty;
    justify-self: end;
    padding-right: 1rem;
}

.item__title {
    grid-area: title;
    margin: 0;
    justify-self: start;
    align-self: center;
}

.item__option {
    grid-area: option;
    margin-top: 0;
    justify-self: start;
}

.item__price {
    grid-area: price;
}

/* Table */
.total__table {
    width: 100%;
    max-width: 500px;
    margin-bottom: 3rem;
    border-spacing: 0rem 2rem;
}

.total__table tr:last-child {
    font-weight: 600;
}

.total__left {
    text-align: right;
}
