<section class="collapsible collapsible--expanded">
    <header class="collapsible__header">
      <h2 class="collapsible__heading">What is Frontend Mentor, and how will it help me?</h2>
      <img
        class="collapsible__chevron collapsible__minus"
        src="images/icon-minus.svg"
        alt=""
      />
      <img
        class="collapsible__chevron collapsible__plus"
        src="images/icon-plus.svg"
        alt=""
      />
    </header>
    </header>
    <div class="collapsible__content">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quod, quidem!
    </div>
  </section>
  <section class="collapsible">
    <header class="collapsible__header">
      <h2 class="collapsible__heading">Is Frontend Mentor free?</h2>
      <img
        class="collapsible__chevron collapsible__minus"
        src="images/icon-minus.svg"
        alt=""
      />
      <img
        class="collapsible__chevron collapsible__plus"
        src="images/icon-plus.svg"
        alt=""
      />
    </header>
    <div class="collapsible__content">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quod, quidem!
    </div>
  </section>