/* TODO:What a mess! I know I'll fix it later
    and Refactor all these bad practice */
html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    background-color: #efefef;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.8rem;
}

/* Navigation bar */
.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #43281c;
    color: #fbf2c0;
}

.hero__brand {
    width: 30px;
    margin-right: 0.5rem;
}

/* Box */
.box {
    background: #eee1d5;
    padding: 0 20px 10px;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgb(0 0 0 / 0.2);
}

.box__heading {
    color: #885a2d;
    font-size: 2rem;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0 0 3rem;
    padding-top: 0.5rem;
}

.input-group {
    position: relative;
    margin-bottom: 2rem;
}

.input-group--small {
    width: 50%;
}

.input {
    border: 2px solid #885a2d;
    background: rgba(0,0,0,0);
    padding: 1rem;
    text-indent: 20px;
    border-radius: 20px;
    width: 100%;
}

.input-group__label {
    position: absolute;
    background: #eee1d5;
    color: #885a2d;
    font-size: 1.1rem;
    top: -7px;
    left: 25px;
}

.btn {
    border: 0;
    background: #deb993;
    width: 100%;
    padding: 1.5rem 3rem;
    border-radius: 20px;
}

/* Item */
.item {
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-areas:
    "qty title price"
    ". option .";
    justify-items: center;
}

.item__qty {
    grid-area: qty;
    justify-self: end;
    padding-right: 1rem;
}

.item__title {
    grid-area: title;
    margin: 0;
    justify-self: start;
    align-self: center;
}

.item__option {
    grid-area: option;
    margin-top: 0;
    justify-self: start;
}

.item__price {
    grid-area: price;
}

/* Table */
.total__table {
    width: 100%;
    max-width: 500px;
    margin: 0 auto 2rem;
    border-spacing: 0rem 2rem;
}

.total__table tr:last-child {
    font-weight: 600;
}

.total__left {
    text-align: right;
}

.order__items {
    padding-left: 0;
}

.order__items .item {
    border-bottom: 1px solid #885a2d;
}

.order__items .item:last-child {
    border: 0;
}

/* Sections */
.order-page {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(1rem, 1fr));
    grid-template-areas:
    "items name"
    "items payment"
    "total total";
    gap: 3rem;
    overflow: visible;
}

.order__name {
    grid-area: name;
}

.order__payment {
    grid-area: payment;
}

.order__option {
    grid-area: items;
}

.order__total {
    grid-area: total;
}

.block {
    max-width: 1140px;
    margin: 0 auto;
}