:root {
    --color-primary: hsl(25, 97%, 53%);
    --white: hsl(0, 0%, 100%);
    --light-grey: hsl(217, 12%, 63%);
    --medium-grey: hsl(216, 12%, 54%);
    --darkish-grey: hsl(217deg 19% 19%);
    --dark-blue: hsl(218deg 25% 13%);
    --very-dark-blue: hsl(216, 12%, 8%);
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font-family: Overpass, Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    background: var(--very-dark-blue);
    color: var(--white);
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;

}

h1 {
    font-size: 2.5rem;
}

/* Circle */
.circle {
    width: 50px;
    height: 50px;
    display: inline-block;
    background-color: var(--darkish-grey);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color .15s, color .15s;
}

.circle--rating {
    color: var(--light-grey);
    cursor: pointer;
}

.circle--rating:hover,
.circle--rating:focus {
    background-color: var(--color-primary);
    color: var(--white);
    outline: 0;
}

.number {
    margin-top: 2px;
    font-size: 2rem;
}

/* Buttons */
.btn {
    border: 0;
    background-color: var(--color-primary);
    padding: 1rem;
    width: 100%;
    border-radius: 20px;
    color: var(--white);
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    transition: background-color .15s, color .15s;
    font-family: inherit;
}

.btn:hover {
    background-color: var(--white);
    color: var(--color-primary);
}

/* Cards */
.card {
    background-color: var(--dark-blue);
    padding: 2.5rem;
    border-radius: 30px;
    max-width: 360px;
    height: 380px;
}

.card--thanks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.card--thanks .card__heading {
    margin: 0 0 1.5rem;
}

.card__heading {
    margin: 2rem 0;
}

.card__desc {
    color: var(--light-grey);
    margin: 0;
}



/* Lists */
.list {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
    margin: 3rem 0 2.5rem;
}

/* Badges */
.badge {
    background-color: var(--darkish-grey);
    border-radius: 20px;
    padding: 0.7rem 1.5rem;
    margin: 2.5rem 0;
}

.badge__text {
    color: var(--color-primary);
    margin: 0;
    transform: translateY(2px);
}

/* Utilities */
.clicked {
    background-color: var(--light-grey);
    color: var(--white);
}

@media screen and (min-width: 768px) {
    .card {
        max-width: 420px;
        height: 430px;
        padding: 4rem;
    }

    .card__heading {
        font-size: 3rem;
        margin-top: 3.5rem;
    }

    .list {
        margin: 3.5rem 0 ;
    }

    .badge {
        margin: 3.5rem 0;
        padding: 0.7rem 2rem;
    }
}